ul.tabs {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    flex: 0 1 auto;

    button.label {
      padding-right: 0;
    }

    &.selected {
      background: var(--color-panel);
    }
  }
}