:root {
  color-scheme: dark;
  --color-bg: #202124;
  --color-panel: #35363a;
  --color-border: #606164;
  --color-menu-bg: #292a2d;
  --color-menu-border: #3c4043;
  --color-menu-select: #3f4042;
  --color-text: #e8eaed;
  --color-text-disabled: #9aa0a6;
  --color-icon: #acaeb1;
  --color-accent: #5ea6f8;
  --color-error: lightcoral;
  --color-error-accent: indianred;

  --font-size: 12px;
  --icon-font-size: 15px;
  --icon-line-size: 13px;
  --code-font-size: 11px;
  --icon-size: 16px;
  --row-height: 28px;

  --tansition-duration: 0;
}