:root {
  color-scheme: dark;
  --color-bg: #1F2020;
  --color-header: #323232;
  --color-panel: #3C3C3C;
  --color-text-disabled: #969696;
  --color-text: #E3E3E3;
  --color-white: #FFFFFF;
  --color-accent: #A8C7FA;

  --font-family: 'Inter', sans-serif;
  --font-size: 12px;
}